<% content_for :breadcrumb do %>
	<ul id='breadcrumb'>
		<li><a>My Projects</a> </li>
	<% @slice.breadcrumb.each do |crumb| %>
		<li>
			<%= link_to crumb[:nav].name, slices_navigation_path(:slices_id => @slice.id, :id => crumb[:nav].nav_id), :method => :delete  %>
			<ul>
				<% crumb[:elements].each do |el| %>
					<li>
						<%= link_to el.name, edit_slices_navigation_path(:slices_id => @slice.id, :id => el.id ) %> 
					</li>
				<% end %>
			</ul>
		</li>
	<% end %>
	</ul>
<% end %>

<% content_for :contextName do %>
	<% if @slice.lens.nil? %>
		<%= 'Context' %>
	<% else %>
		<%= @slice.lens.name %>
	<% end %>
<% end %>

<% content_for :templateMenu do %>
	<%= render :partial => 'templates/menu', :locals => { :menu => @slice.workspace.project.project_structure }  %>
<% end %>

<% content_for :leftHand do 
	unless @slice.lens.nil?
		even = true
		@slice.lens.lens_items.each do |l| %>
			<tr><td class='left-<%= even ? 'even' : 'odd' %>-row'>
				<%= link_to l.title, l.link %>
			</td></tr>
			<% even = !even %>
		<% end
	end
 end %>

<% content_for :content do %>
	<% unless @objects.nil? %>
		<% @objects.each do |el| %>
			<div class='matrix-object'>
				<p><%= el.name %></p>
				<p><i><%= el.object_type unless el.object_type.nil? %></i></p>
			</div>
		<% end %>
	<% end %>
<% end %>
