<!DOCTYPE html>
<html>
<head>
  <title>MatrixMeV01</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='navigation'>
		<div id='user-control'>
			Baruch Lubinsky | <a href="/logout" class="nav-link">Logout</a>
		</div>
		<div id='header'><h1>MatrixMe</h1></div>
		<div id='nav-bar'>
			<table>
			<tr>
				<td><%= image_tag 'home.png' %></td>
			</tr>
			</table>
		</div>
		<div id='context-bar'> 
			<table>
				<tr>
					<td>
						<nav>
							<ul id='context-menu'>
								<li>
									<a><%= yield :contextName %></a>
									<ul>
									<li>
										<a href='#community'>Community</a>
										<ul>
											<li><a>Member Names</a></li>
											<li><a>Job Titles</a></li>
											<li><a>Company</a></li>
											<li><a>Expertise</a></li>
											<li><a>Affiliations</a></li>
											<li><a>Groups</a></li>
											<li><a>Recent Actions</a></li>
										</ul>
									</li>
									<li>
										<a href='#content'>Content</a>
										<ul>
											<li><a>Content Items</a></li>
											<li><a>Authors</a></li>
											<li><a>Categories</a></li>
											<li><a>Volumes</a></li>
											<li><a>Recent Actions</a></li>
										</ul>
									</li>
									<li>
										<a href='#converstions'>Conversation</a>
										<ul>
											<li><a>Active</a></li>
											<li><a>Archived</a></li>
											<li><a>Project Conversations</a></li>
											<li><a>Topical Conversations</a></li>
											<li><a>Mentions</a></li>
										</ul>
									</li>
									<li>
										<a href='#calibration'>Calibration</a>
										<ul>
											<li><a>Active</a></li>
											<li><a>Archived</a></li>
											<li><a>Metrics</a></li>
											<li><a>Polls</a></li>
										</ul>
									</li>
									<li>
										<a href='#project'>Project</a>
										<ul>
											
											<%= yield :templateMenu %>
											
										</ul>
									</li>
								</ul>
							</li>
						</nav>
					</td>
					<td width=100% />
					<td>
					<table><tr><td><button class='context' />Content</td><td><button class='context' />Collaboration</td><td><button class='context' />Community </td><td><button class='context' /> Callibaration</td></tr></table>
					</td>
				</tr>
			</table>
		</div>
		<div id='search-bar'> 
			<table class='search'><tr>
				<td class='search'><input type='text' class='context' /></td>
				<td class='search'><%= image_tag 'workspace-selected.png' %></td>
				<td class='search'><span>Baruch, there are 50,000 resources in Matrix me for you.</span></td>
				<td width=100% />
				<td class='search'><%= image_tag src='plus.png' %></td>
			</tr></table>
		</div>
	</div>
	<div id='left-column'>
		<table>
			<%= yield :leftHand %>		
		</table>
	</div>
	<div id='content'>
		<%= yield %>
	</div>
</body>
</html>
